@import '~common/stylus/variable.styl'
@import '~common/stylus/mixin.styl'

.m-header
  position: relative
  height: 44px
  text-align: center
  color: $color-theme
  font-size: 0
  display: flex
  align-items: center
  padding-left 15px
  .icon
    display: inline-block
    vertical-align: top
    margin-top: 6px
    width: 30px
    height: 32px
    margin-right: 9px
    bg-image('logo')
    background-size: 30px 32px
  .text
    display: inline-block
    vertical-align: top
    line-height: 44px
    font-size: $font-size-large
  .mine
    text-decoration: none
    .icon-mine
      display: block
      padding: 12px
      font-size: 20px
      color: $color-theme
  .cancel
    display: block
    padding: 12px
    font-size: 14px
    color: $color-theme
  .search-box
    flex 1
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    padding: 0 6px
    height: 30px
    background: $color-highlight-background
    border-radius: 6px
    .icon-search
      font-size: 24px
      color: $color-text-d
    .box
      display: inline-block
      width: 100px
      margin: 0 5px
      line-height: 18px
      background: $color-highlight-background
      color: $color-text
      font-size: $font-size-medium
      outline: 0
      transition: all .3s linear
      &::placeholder
        color: $color-text-d
      &.f
        flex 1
    .icon-dismiss
      font-size: 16px
      color: $color-background
  .normal-enter
    opacity: 0
    &.normal-enter-active
      opacity: 1
      transition: opacity 0.4s ease-in-out
  .normal-leave
    opacity: 1
    &.normal-leave-active
      opacity: 0
      transition: opacity 0.4s ease-in-out
  .searchList
    position absolute
    top 44px
    left 0
    width 100%
    background: $color-background
    z-index 1