@import "~common/stylus/variable"
  .search-box
    flex 1
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    padding: 0 6px
    height: 30px
    background: $color-highlight-background
    border-radius: 6px
    .icon-search
      font-size: 24px
      color: $color-text-d
    .box
      display: inline-block
      width: 100px
      margin: 0 5px
      line-height: 18px
      background: $color-highlight-background
      color: $color-text
      font-size: $font-size-medium
      outline: 0
      transition: all .3s linear
      &::placeholder
        color: $color-text-d
      &.f
        flex 1
    .icon-dismiss
      font-size: 16px
      color: $color-background