.singer-slider
  position: fixed
  top: 0
  width: 100%
  height: 100%
  overflow: hidden
  z-index 100
.slider-appear
  transform: translateX(100%)
.slider-appear-active
  transform: translateX(0)
  transition: all 300ms ease-in-out
.slider-exit
  transform: translateX(0)
.slider-exit-active
  transform: translateX(100%)
  transition: all 300ms ease-in