@import "~common/stylus/variable"

.search
  position fixed
  top 0
  bottom 0
  width 100%
  background $color-bg
  z-index 1
  .cancel
    display block
    font-size $font-size-medium-x
    margin-left 10px