@import "~common/stylus/variable"
@import "~common/stylus/mixin"
  .mini-enter
    opacity: 0
    &.mini-enter-active
      opacity: 1
      transition: opacity 0.4s ease-in-out
  .mini-leave
    opacity: 1
    &.mini-leave-active
      opacity: 0
      transition: opacity 0.4s ease-in-out
  .normal-enter
    opacity: 0
    &.normal-enter-active
      opacity: 1
      transition: opacity 0.4s ease-in-out
  .normal-leave
    opacity: 1
    &.normal-leave-active
      opacity: 0
      transition: opacity 0.4s ease-in-out