@import "~common/stylus/variable"
  .progress-circle
    position: relative
    circle
      stroke-width: 8px
      transform-origin: center
      &.progress-background
        transform: scale(0.9)
        stroke: rgba(0, 0, 0, 0.1)
      &.progress-bar
        transform: scale(0.9) rotate(-90deg)
        stroke: $color-theme