@import "variable.styl"

body, html
  line-height 1
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select none
  -webkit-tap-highlight-color transparent
  color $color-main-text

.slider-enter
  transform translateX(100%)
.slider-enter-active
  transform translateX(0)
  transition all 250ms ease-in-out
.slider-exit
  transform translateX(0)
.slider-exit-active
  transform translateX(100%)
  transition all 250ms ease-in

.fade-enter
  opacity 0
.fade-enter-active
  opacity 1
  transition opacity 300ms
.fade-exit
  opacity 1
.fade-exit-active
  opacity 0
  transition opacity 300ms